#draggable { width: 150px; 
	height: 150px; 
	padding: 0.5em; }

#droppable { width: 150px; 
	height: 150px; 
	padding: 0.5em;  
	margin: 10px; }
#slider{
	margin-top: 20px;
	margin-bottom: 20px;
}

.toggler { width: 500px; height: 200px; position: relative; }
#button { padding: .5em 1em; text-decoration: none; }
#effect { width: 240px;  padding: 1em; border: 1px solid #000; background: #eee; color: #333; }
.newClass { text-indent: 40px; letter-spacing: .4em; width: 410px; height: 120px; padding: 30px; margin: 10px; font-size: 1.1em; }

